################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blog.Interfaces/obj
/Blog.Interfaces/bin
/Blog.Models/obj/Debug
/Blog.Models/bin
/Blog.Services/obj
/Blog.Services/bin
/Blog.Tests/bin/Debug
/Blog.Tests/obj/Debug
/Blog.Website/bin
/Blog.Website/obj/Debug
/packages
/Blog.Website/obj/Release
/Blog.Tests/obj/Release
/Blog.Models/obj/Release
/Publish
/Blog.Common/bin
/Blog.Common/obj/Debug
